<!DOCTYPE html>
<html>
{% include 'common_head.html.twig' %}
<body>
{% block navbar %}
    {% include 'common_navbar.html.twig' %}
{% endblock %}
    {% include 'slider.html.twig' %}
    <div class="container">
        {% block body %}
        {% endblock %}
        {% block content %} {% endblock %}
        {% include 'common_footer.html.twig' %}
    </div>
{% block javascripts %}
    {% include 'common_scripts.html.twig' %}
{% endblock %}
</body>
</html>