<footer>
    <div class="row">
        <div class="col-lg-20">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#">Contacto</a>
                </li>
                <li>
                    <a href="#" id="login">Acerca de</a>
                </li>
                <li>
                    <a href="#">EasyHosp 2016</a>
                </li>
            </ul>
        </div>
    </div>
</footer>