<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Recuperar contraseña</h3>
</div>
<div class="modal-body">
    <form action="{{ path('recuperarPassConfirm') }}" id="formRecuperarPass" method="POST">
        <div class="form-group">
            <input type="hidden" name="email" value="{{ email }}">
            <label>Pregunta secreta</label>
            <input type="text" name="pregunta" id="pregunta" class="form-control" value="{{ pregunta.pregunta }}" disabled required >
        </div>
        <div class="form-group">
            <label>Respuesta</label>
            <input type="text" name="respuesta" id="respuesta" class="form-control" placeholder="Respuesta" required autofocus>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="aceptarRecuperarPass" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Aceptar
    </button>
    <button class="btn btn-small" data-dismiss="modal">
        <i class="icon-remove"></i>
        Cancelar
    </button>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#formRecuperarPass').validate({
            rules: {
                respuesta: {
                    required: true,
                }
            },
            messages: {
                respuesta: {
                    required: "La respuesta es requerida"
                }
            }
        });
        $('#aceptarRecuperarPass').on('click', function (event) {
            event.preventDefault();
            if($('#formRecuperarPass').valid()){
                $('#formRecuperarPass').submit();
            }
        });
    });
</script>