{% extends 'base.html.twig' %}
{% block content %}
    {% include 'MainBundle:Utils:alerts.html.twig' %}
    <div class="main">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Mis Publicaciones
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-success" id="btnNuevoHosp" href="#" data-path="{{ path('nuevoHospedaje') }}">Nueva publicación</a>
            </div>
        </div>
        <hr>
    </div>

    <div id="tablaHospedajes">
        {% include 'MainBundle:Hospedaje:tablaHospedajes.html.twig' %}
    </div>
    {% include 'MainBundle:Utils:modal.html.twig' %}
{% endblock %}

