{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {% include 'MainBundle:Utils:alerts.html.twig' %}
    <div class="main">
        {% include 'MainBundle:Hospedaje:tablaHospedajes.html.twig' %}
    </div>
    {% include 'MainBundle:Utils:modal.html.twig' %}
{% endblock %}

