{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Hospedajes
            </h1>
        </div>
    </div>
    <div id="barraBusqueda">
        <nav class="navbar">
            <form class="navbar-form navbar-left" role="search" style="margin-left: -16px">
                <div class="form-group">
                    <input type="text" class="form-control" id="hospBuscado" placeholder="Buscar" required>
                </div>
                <button id="btnSearchHosp" class="btn btn-info searchOrder" data-path="{{ path('searchHosp', {'busqueda' : 'x'}) }}">Buscar</button>
                <button id="btnCleanSearch" type="reset" class="btn btn-warning searchOrder" data-path="{{ path('hospPaginated') }}">Limpiar</button>
                <legend class="oblique searchHosp" >La búsqueda puede ser por título, tipo, localidad y capacidad.</legend>
            </form>
        </nav>
    </div>
    <div id="tablaHospedajes">
        {% include 'MainBundle:Default:tablaHospedajes.html.twig' %}
    </div>
    {% include 'MainBundle:Utils:modal.html.twig' %}
{% endblock %}

