@import url(http://fonts.googleapis.com/css?family=Roboto);

#formNewTipo label.error {
    color:#FB3A3A;
    font-weight:bold;
    width: 200px;
}

#formEditTipo label.error {
    color:#FB3A3A;
    font-weight:bold;
    width: 200px;
}