<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="blue bigger">Editar Tipo Hospedaje</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="formEditTipo" action="{{ path('tipoHospEditSave') }}" method="POST">
        <input type="hidden" name="idTipo" value="{{ tipo.id }}">
        <div class="form-group row">
            <label for="inputNombre" class="col-sm-2 form-control-label">Nombre</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="nombre" id="nombreTipo" value="{{ tipo.nombre }}"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="aceptarEditTipo" class="btn btn-small btn-primary">
        <i class="icon-ok"></i>
        Aceptar
    </button>
    <button class="btn btn-small" data-dismiss="modal">
        <i class="icon-remove"></i>
        Cancelar
    </button>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        /*function isBlank(value, elem, param) {
            var espacio_blanco = /[a-z]/i;
            if(!espacio_blanco.test(value)){
                return true;
            }else{
                return false;
            }
        }
        $.validator.addMethod("blancos",
                function(value, element) {
                    return /[a-z]/i.test(value);
                }
                , "No se permiten espacios en blanco.");*/

        $('#formEditTipo').validate({
            rules: {
                nombre: {
                    required: true,
//                    blancos: true,
                    minlength: 3
                }
            },
            messages: {
                nombre: {
                    required: "El nombre es requerido",
                    minlength: "Debe tener un mínimo de 3 caracateres"
                }
            }
        });
        $('#aceptarEditTipo').on('click', function (event) {
            event.preventDefault();
            if($('#formEditTipo').valid()){
                $('#formEditTipo').submit();
            }
        });
    });
</script>

